#searchbox {

  background: #fff;
  color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 25px;

          }

#contai_search {


display: flex;
justify-content: center;

font-family: 'Poppins', sans-serif;
background-color: transparent;


padding: 15px;
}

.items_search {

padding: 15px;
display: inline-block;
flex-wrap: wrap;
}

.items_search input {
border: none;
outline: none;
border: 1px solid rgba(255, 255, 255, 0.3);
}


.items_search input:focus::-webkit-input-placeholder {
border: 1px solid rgba(255, 255, 255, 0.3);
color: transparent;
}

.items_search input:focus:-moz-placeholder {
border: 1px solid rgba(255, 255, 255, 0.3);
color: transparent;
}


#button-submit {
border-radius: 0 25px 25px 0;
background-color: #874B27;
border-width: 0px;
cursor: pointer;
border-width: 0px;
height: 100px;
}

#button-submit:hover {
background-color: #f8d298;
}

#button-submit::-moz-focus-inner {
border: 0;

}